.mail {
  width: 100%;
  margin-top: 50px;
  background-color: #003580;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
  background: #474747;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
  /* margin: 10px; */
  padding: 20px;
  /* border-radius: 10px; */
  /* max-width: 1024px; */
}

.mailTitle,
.mailDesc {
  background: transparent;
}
.success {
  color: greenyellow;
}
.mailInputContainer > input {
  width: 300px;
  height: 30px;
  padding: 10px;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
  color: white;
}

.mailInputContainer > button {
  height: 50px;
  padding: 10px 20px;
  box-shadow: 2px 2px 7px #38d35270;
  background: #38d352;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
