.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #121212;
}

.lContainer {
  border-radius: 12px;
  display: flex;
  background: #1f1f1f;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 500px;
  height: 350px;
}

.lInput {
  height: 30px;
  padding: 10px;
  font-size: 1em;
  color: white;
}

.err-msg {
  z-index: 10;
  color: white;
}
.lButton {
  font-size: 1em;
  border: none;
  padding: 10px 20px;
  box-shadow: 2px 2px 7px #38d39f70;
  background: #38d39f;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
.subtitle {
  font-size: 1em;
  color: rgba(177, 177, 177, 1);
  display: flex;
  justify-content: left;
}
.lButton:disabled {
  background-color: #0071c28c;
  cursor: not-allowed;
}
