.footer {
  width: 100%;
  /* max-width: 1024px; */
  font-size: 12px;
  background: #474747;
  /* padding: 20px;
  border-radius: 10px; */
}

.fLists {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  background: #474747;
}

.fList {
  list-style: none;
  padding: 0;
  background: #474747;
}

.fListItem {
  margin-bottom: 10px;
  color: white;
  /* color: aliceblue; */
  cursor: pointer;
  background: #474747;
}

.fText {
  display: flex;
  justify-content: center;
  background: #474747;
  font-size: 1em;
  color: white;
  /* color: aliceblue; */
}
