.pList {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background: #1f1f1f;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
  padding: 20px;
  border-radius: 10px;
}

.pListItem {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.pListImg {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.2);
}

.pListTitles > h1 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  background: #1f1f1f;
}

.pListTitles > h2 {
  font-size: 14px;
  font-weight: 300;
  color: white;
  background: #1f1f1f;
}
